{
  "*.{ts,tsx,js,jsx,mjs}": [
    "eslint --fix",
    "prettier --config ./.prettierrc --write",
    "git add"
  ],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier  --config ./.prettierrc --write --parser json",
    "git add"
  ]
}
